* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  background-color: $secondary;
  font-family: 'Lato', sans-serif;
}

a, a:hover, a:active {
  text-decoration: none;
  color: $black
}

ul, li {
  list-style: none
}

p {
  margin: 0;
  padding: 0
}
