.authentication {
  height: 100vh;
  margin: -20px 0 50px;

  h1 {
    font-size: 1.4rem;
    font-weight: lighter;
    margin-bottom: 50px;
    span { color: $primary; font-size: 1.4rem; }
  }

  h2 {
    font-weight: bold;
    margin: 0;
    margin-bottom: 20px
  }

  p {
    font-size: 0.9rem;
    font-weight: lighter;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px
  }

  span { font-size: 1.2rem }

  a {
    color: #333;
    font-size: 0.9rem;
    margin: 15px 0
  }

  #container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0,0,0,0.22);
    min-height: 600px;
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
  }

  .form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out
  }

  .form-container form {
    background: white;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center
  }

  .form-container input {
    border: none;
    background: #eee;
    padding: 8px 15px;
    margin: 8px 0;
    width: 100%
  }

  button {
    border-radius: 50px;
    border: 1px solid $primary;
    background: $primary;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 88ms ease-in;
    cursor: pointer;
  }

  button:focus {
    outline: none
  }

  button:active {
    transform: scale(0.95)
  }

  button.ghost {
    background: transparent;
    border-color: $primary
  }

  .login-container {
    left: 0;
    width: 50%;
    z-index: 2;
  }

  .register-container {
    left: 0;
    width: 50%;
    z-index: 1;
    opacity: 0;
  }

  .social-container {
    margin: 70px 0 20px 0
  }

  .social-container a {
    border: 1px solid $primary;
    border-radius: 50%;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
  }

  .overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
  }

  .overlay {
    background: $black;
    background: linear-gradient(to right, #2a2a2a, #252526, #1f2122, #1a1c1d, #141818);
    color: white;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out
  }

  .overlay-panel {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    height: 100%;
    width: 50%;
    text-align: center;
    transform: translateX(0)
  }

  .overlay-right {
    right: 0;
    transform: translateX(0)
  }

  .overlay-left {
    transform: translateX(-20%)
  }

  #container.right-panel-active .login-container {
    transform: translateX(100%)
  }

  #container.right-panel-active .overlay-container {
    transform: translateX(-100%)
  }

  #container.right-panel-active .register-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
  }

  #container.right-panel-active .overlay {
    transform: translateX(50%);
  }

  #container.right-panel-active .overlay-left {
    transform: translateX(0);
  }

  #container.right-panel-active .overlay-right {
    transform: translateX(20%);
  }

  h3 { font-size: 1.2rem }

  .form-container button {
    margin-top: 20px
  }
}

.errors {
  color: red;
  margin: 0;
}