// header.main-header {
//   .inner {
//     width: 1200px;
//     margin: 0 auto;
//     height: 50px;
//   }

//   .responsive-searchbar { display: none }

//   #menu-icon {
//     display: none;
//     position: relative;
//     align-items: center;
//     .menu-bar {
//       transition: all 0.6s ease;
//       display: block;
//       height: 1px;
//       background-color: $black;
//       width: 40px;
//       margin-bottom: 10px;
//       &:last-child {margin-bottom: 0}
//     }
//     #menuBar2 {transition: all 0.3s ease}
//     .transMenuBar1 {
//       transform: rotate(45deg);
//       position: absolute;
//       background-color: $ecru;
//       top: 10px;
//     }
//     .transMenuBar2 {
//       visibility: hidden;
//       opacity: 0;
//     }
//     .transMenuBar3 {
//       transform: rotate(-45deg);
//       background-color: $ecru;
//       position: absolute;
//       top: 10px
//     }
//   }

//   h1 {
//     font-size: 1.4rem;
//     font-weight: lighter;
//     margin: 0;
//     span { color: $teal }
//   }

//   nav#main-nav {
//     transition: 0.5s ease;
//     a {
//       margin-right: 10px;
//       &:hover { text-decoration: underline }
//     }
//   }

//   span { 
//     cursor: pointer;
//   }

//   .fa-bell { margin-left: 10px }

//   .notif {
//     position: relative;
//     p {
//       position: absolute;
//       font-size: 0.7rem;
//       right: -10px;
//       @include circle(15px, red, white)
//     }
//   }

//   .dropdown-menu { font-size: 0.8rem }

//   p { cursor: pointer;  }

//   .search-form {
//     margin-right: 20px;
//     position: relative;
//     input {
//       border: none;
//       border-radius: 10px;
//       box-shadow: 0 0 5px #d2d2d2;
//       padding: 0 10px;
//     }
//     button {
//       position: absolute;
//       right: 10px;
//       border: none;
//       background-color: transparent
//     }
//     .fas { color: $teal; font-size: 0.8rem }
//   }
// }

// .nightmode {
//   header.main-header {
//     h1, a, p, .far { color: $ecru }
//     .dropdown-menu {
//       a { color: $black }
//     }

//     .dropdown-toggle::after {
//       border-right: .3em solid #fff;
//       border-bottom: 0;
//       border-left: .3em solid #fff;
//     }
//   }
// }

// @media screen and (max-width: 1200px) {
//   header.main-header {
//     .inner {
//       width: 800px;
//     }
//   }
// }

// @media screen and (max-width: 800px) {
//   header.main-header {
//     .inner {
//       width: 100%;
//       padding: 0 20px
//     }
//     .search-form { display: none }
//     #menu-icon { display: block; z-index: 10000000; }

//     nav#main-nav {
//       display: none;
//       height: 100vh;
//       position: fixed;
//       top: 0;
//       left: 0;
//       width: 100%;
//       z-index: 1000000;
//       background-color: #1b1b1b;;
    
//       a, p { 
//         display: block;
//         color: $ecru; 
//         font-size: 20px; 
//         padding: 10px 0; 
//         width: 100%;
//         text-align: center;
//         border-bottom: 1px solid #0e0e0e;
//         transition: 0.5s ease;
//         &:hover { 
//           text-decoration: none;
//           background-color: $ecru;
//           color: $black
//         }
//       }
//     }
//     nav#main-nav.open {
//       display: flex;
//       flex-flow: column;
//       justify-content: center;
//       a {
//         margin: 0
//       }
//     }
//     .responsive-searchbar.open {
//       display: block;
//       width: 100%;
//       input {
//         margin-top: 30px;
//         width: calc(100% - 40px);
//         box-shadow: 0 5px 5px $black;
//       }
//     }
//   }
// }

header#main-header {
  background: white;
  .inner {
    width: 1200px;
    margin: 0 auto;
    height: 70px;
  }

  a.logo {
    font-size: 1.4rem;
    font-weight: lighter;
    margin: 0;
    span { color: $primary }
  }

  nav#main-nav {
    transition: all 0.3s ease;
    a { margin-right: 10px; &:hover { text-decoration: underline } }
    .far { cursor: pointer; margin-right: 8px }

    a.auth-btn {
      text-decoration: none;
      border: 1px solid $primary;
      padding: 5px 8px;
      background: $primary;
      border-radius: 10px;
      color: white;
      transition: all 0.2s ease;
      font-size: 0.8rem;
      &:active {
        transform: scale(0.9)
      }
    }
  }

  .responsive-searchbar { display: none }

  #menu-icon {
    display: none;
    position: relative;
    align-items: center;
    .menu-bar {
      transition: all 0.6s ease;
      display: block;
      height: 1px;
      background-color: $black;
      width: 40px;
      margin-bottom: 10px;
      &:last-child {margin-bottom: 0}
    }
    #menuBar2 {transition: all 0.3s ease}
    .transMenuBar1 {
      transform: rotate(45deg);
      position: absolute;
      background-color: $secondary;
      top: 10px;
    }
    .transMenuBar2 {
      visibility: hidden;
      opacity: 0;
    }
    .transMenuBar3 {
      transform: rotate(-45deg);
      background-color: $secondary;
      position: absolute;
      top: 10px
    }
  }

  .notif {
    position: relative;
    span {
      position: absolute;
      font-size: 0.7rem;
      right: -3px;
      @include circle(15px, $red, white)
    }
  }

  .notification-dropdown {
    .dropdown-item:hover, .dropdown-item:focus { background-color: transparent}
  }

  .dropdown-item.active, .dropdown-item:active { background-color: $primary; a { color: $secondary }}

  .dropdown-menu { font-size: 0.8rem }
  .mobile-link { display: none }

  .search-form {
    margin-right: 20px;
    position: relative;
    input {
      border-radius: 10px;
      padding: 0 10px;
      color: lighten($black, 30%);
      background-color: darken($secondary, 7%); 
    }
    button {
      position: absolute;
      top: 0;
      right: 10px;
      border: none;
      background-color: transparent
    }
    .fas { color: darken($primary, 10%); font-size: 0.8rem }
  }
}