@media screen and (max-width:$xl) {
  main.inner-main, header#main-header .inner {
    width: 1000px
  }
    
  .home {
    .home-story-cards {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  // main.inner-main-profile {
  //   .profile-content, section.banner .inner-banner { width: 900px }
  // }
}

@media screen and (max-width: 1000px) {
  main.inner-main {width: 100%}
  .home {
    .popular-characters {
      .col-6 {
        &:nth-last-child(-n+1) { display: block}
      }
    }
  }
}

@media screen and (max-width: $lg) {
  main.inner-main { margin-top: 10px }

  .container {
    max-width: 100%;
  }

  .home {
    .home-story-cards {
      grid-template-columns: repeat(3, 1fr);
    }
  } 
  main.inner-main-profile {
    .left-col { width: 30% }
    .right-col { width: 70% }
    .circular--portrait { width: 150px; height: 150px; }
  }
}

@media screen and (max-width:1200px) {
  header#main-header { .inner {width: 100%; padding: 0 20px} }
  main.inner-main-profile {
    .profile-content, section.banner .inner-banner { width: 100%;}
    section.banner .inner-banner { padding: 15px }
    section.settings {width: 700px}
    .floating-tabs {
      flex-direction: row;
      top: -15%;
      left: 50%;
      position: absolute;
      img { margin-right: 10px }
    }
  }
}


@media screen and (max-width: $md) {
  main.inner-main { border-radius: 0; box-shadow: none; width: 100%}
  .home {
    #popular-stories { order: 1 }
    #left-col { order: 2 }
    #right-col { order: 3 }
    section.showcase {
      border-radius: 0;
      .slides {
        border-radius: 0;
        h2 { font-size: 1.6rem; max-width: 80%; }
      }
      
    }

    
    .popular-characters {
      .col-6 {
        &:nth-last-child(-n+2) { display: block}
      }
    }
    .call-to-action {
      .add-btn { 
        font-size: 0.7rem;
        padding: 5px 15px;
      }
      padding: 0;
      .fas {margin-bottom: 2px; color: $secondary; font-size: 1.2rem}
    }

    aside#left-col {
      .cat-list { display: none }
      .select { display: block }
    }
  }

  header#main-header {
    .search-form { display: none }
    #menu-icon { display: block; z-index: 10000000; cursor: pointer; }
    .mobile-link { display: block }
    .mobile-notif { 
      font-size: 0.7rem;
      @include circle(20px, $red, white)
    }
    .dropdown { display: none }
    nav#main-nav {
      display: none;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1000000;
      background-color: #1b1b1b;;
    
      a, p { 
        display: block;
        color: $secondary; 
        font-size: 20px; 
        padding: 10px 0; 
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #0e0e0e;
        transition: 0.5s ease;
        &:hover { 
          text-decoration: none;
          background-color: $secondary;
          color: $black
        }
      }
    }
    nav#main-nav.open {
      display: flex;
      flex-flow: column;
      justify-content: center;
      a {
        margin: 0
      }
    }
    .responsive-searchbar.open {
      display: block;
      width: 100%;
      input {
        margin-top: 30px;
        width: calc(100% - 40px);
        box-shadow: 0 5px 5px $black;
      }
    }
  }

  .story {
    height: auto;    
    .responsive { display: block }
    section.story-banner {
      width: 100%;
      height: auto;
      position: static;
      border-radius: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h2.storyTitle {
        font-size: 2rem;
        font-family: 'Playfair Display', serif;
        font-style: italic;
        font-weight: lighter;
        text-decoration: underline;
        margin-bottom: 30px;
        a, a:hover { color: $secondary }
      }

      .story-info {
        position: static;
        width: 100%;
        transform: translateX(0);

        .details {
          display: flex;
          justify-content: space-around;
          align-items: center;
          .banner-rating { display: none }
        }

      }

      .story-stats { justify-content: space-around }
    }
    section.story-details, .edit-story {
      padding: 30px 20px;
      margin-left: 0;
      height: auto;

      .chapters-list {
        width: 100%;
      }
    }
  }

  main.inner-main-character { height: auto; }
  .character { display: none }
  .character-responsive { display: block; }

  main.inner-main-profile {
    .profile-content, section.banner .inner-banner, section.settings { width: 100% }
    section.banner {
      height: auto;
      .inner-banner { 
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center
      }
      header.author-name {
        flex-direction: column;
        justify-content: center;
        align-items: center
      }
      .left-col, .right-col { width: 100% }
      .responsive-tabs { display: block }
      .circular--portrait { margin: 0 auto 20px auto }
      .social { display: inline-block; margin: 10px auto }
    }
    .floating-tabs { display: none; }
  }

  .modal-title { font-size: 0.9rem }
  .columns {
    flex-flow: column;
    justify-content: center;
    .column {
      margin-bottom: 30px;
    }
  }

  .floating-btn-group {
    bottom: 30px;
    right: 30px;
    .floating-btn {
      font-size: 20px;
      width: 35px;
      height: 35px;
      line-height: 35px;
    }
  }

}

@media screen and (max-width: $sm) {
  .home {
    .home-story-cards {
      grid-template-columns: repeat(2, 1fr);
    }

    .call-to-action {
      flex-flow: column;
      .add-btn { 
        margin-bottom: 15px;
        padding: 10px 30px;
      }
      padding: 0;
      .fas {margin-bottom: 2px; color: $secondary; font-size: 1.2rem}
    }
  }

  main.inner-main-profile {
    .profile-content { padding: 15px }
    section.favorites {
      .favstories { padding: 20px }
    }
    .user-card {
      .follow-btn { padding: 5px 10px; margin: 0 }
    }
    .col-6 { padding: 0 5px }

    nav.profile-nav {
      span { 
        padding: 5px 10px;
        font-size: 0.7rem;
      }
    }
  }

  .authentication {
    height: 100vh;
    margin: 20px 0 0 0;
    #container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      border-radius: 0
    }

    .form-container {
      position: absolute;
      top: 0;
      height: 50%;
      transition: all 0.6s ease-in-out
    }

    .login-container {
      top: 0;
      width: 100%;
      z-index: 2;
      height: 50%;
    }

    .register-container {
      top: 0;
      width: 100%;
      z-index: 1;
      opacity: 0;
      height: 50%;
    }

    .overlay-container {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 50%;
    }

    .overlay {
      height: 200%;
      width: 100%;
      left: 0;
      top: -100%;
      transform: translateY(-50%);
    }

    .overlay-panel {
      top: 50%;
      padding: 0 20px;
      height: 100%;
      width: 100%;
      transform: translateY(0)
    }

    .overlay-right {
      top: 80%;
      left: 0;
      transform: translateY(0)
    }

    .overlay-left {
      transform: translateY(-20%)
    }

    #container.right-panel-active .login-container {
      transform: translateY(100%)
    }

    #container.right-panel-active .overlay-container {
      transform: translateY(-100%)
    }

    #container.right-panel-active .register-container {
      transform: translateY(100%);
      opacity: 1;
      z-index: 5;
    }

    #container.right-panel-active .overlay {
      transform: translateY(50%);
    }

    #container.right-panel-active .overlay-left {
      transform: translateY(0);
    }

    #container.right-panel-active .overlay-right {
      transform: translateY(20%);
    }
  }
}