$ecru: #F4F7FC;
$black: #303030;
$red: #cf3a3a;
$green: #3cb878;
$teal: #27bab0;

// ---------------------------------- VARIABLES -------------------------
$primary: #27bab0;
$black: #303030;
$secondary: #F4F7FC;
$nightmode-l: #303030;
$nightmode-d: #303030;
$red: #cf3a3a;
$green: #3cb878;
$separator: rgba(0,0,0,.1);
$inputBorder: #d0cece;
$form-bg: #d5e6e5;
$gutter: 30px;
$boxShadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

// ---------------------------------- RESPONSIVE -------------------------
$xl: 1200px;
$lg: 992px;
$md: 850px;
$sm: 576px; 